.search-wrapper {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 40px;

    .search {
      position: relative;
    
      .form-control {
        position: absolute;
        height: 100%;
      }
    }
}

@include media-breakpoint-up(sm) {
  .search-wrapper {
    top: 110px;
    height: 50px;
  }
}
