.todos-container {
  margin-top: 75px;

  > .row {
    display: flex;
    justify-content: center;
  }

  .todo {
    &--id {
      display: none;
    }
  }
}

@include media-breakpoint-up(sm) {
  .todos-container {

    .todo {
      &--id {
        display: block;
      }
    }
  }
}
